HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### react ###
/src/main/ui/build
/src/main/ui/node
/src/main/ui/node_modules
/src/main/ui/.pnp
/src/main/ui/.pnp.js

# testing
/src/main/ui/coverage


# misc
/src/main/ui/.DS_Store
/src/main/ui/.env.local
/src/main/ui/.env.development.local
/src/main/ui/.env.test.local
/src/main/ui/.env.production.local

/src/main/ui/npm-debug.log*
/src/main/ui/yarn-debug.log*
/src/main/ui/yarn-error.log*
